<template>
  <div class="home-page">
      <div class="box">
            <img class="image" src="@/assets/Whale.jpg">
            <h2>Sky Whale</h2>
            <p>Flying whale</p>
            <a class="button" href="#">Sound wave</a>
        </div>
  </div>
</template>

<script>
export default {
  name: "homepage",
  
};
</script>

<style scoped>
  .home-page{
    max-width: 700px;
    margin: auto;
  }
  .box{
    background-color: lightcyan;
    padding: 20px;
    margin: 30px;
}
.image{
    width: 100%;
}
.button{
    background-color: lightsteelblue;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
</style>
