<template>
  <footer class="bottom-footer">
    <p>About this website</p>
    <p>Copyright 2025</p>
  </footer>
</template>

<script>
export default {
  name: 'WeFooter'
}
</script>

<style scoped>
.bottom-footer{
  padding: 5px;
  text-align: center;
  background: white;
}
</style>