<template>
  <header class="top-header">
      <a class="menu-item brand" href="#">Whale</a>
      <a class="menu-item" href="#">Star</a>
  </header>
</template>

<script>
export default {
  name: 'WeHeader'
}
</script>

<style scoped>
.top-header{
  background-color: white;
  padding: 9px;
}
.brand {
    font-size: 18px;
    font-weight: 600;
}
.menu-item{
    color: black;
    padding: 5px;
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
}
</style>
