<template>
  <div id="app">
    <WeHeader/>
    <router-view></router-view>
    <WeFooter/>
  </div>
</template>

<script>
import WeHeader from "./components/Header"
import WeFooter from "./components/Footer"
export default {
  name: 'app',
  components: {WeHeader,WeFooter}
}
</script>
<style >
html,body{
  background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}
</style>
